/* Header CSS Start */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 98.18%;

}

#Header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;

}

a {
    text-decoration: none;
    font-size: 15px;
    color: black;


}

#topNavbar {
    display: flex;
    justify-content: space-around;
    background-color: #eee;
    padding: 5px;

}

.left>a {
    margin-left: 10px;
    text-decoration: none;
    font-size: 10px;
    font-weight: 600;

}

.right>a {
    margin-left: 10px;
    text-decoration: none;
    font-size: 10px;
    font-weight: 600;

}

.search {
    width: 25%;
    background: #eaeaea;
    color: rgba(0, 0, 0, .5);
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 10px;
    font-weight: 600;

}

#searchLogo>img {
    width: 40px;
    height: 40px;
    padding: 10px;

}

input::selection {
    background-color: white;
    color: black;

}

.moblogo {
    width: 20px;

}

#midNavbar {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    box-sizing: border-box;
    margin-top: 5px;

}

.midMid {
    font-size: 17px;
    padding: 10px;
    margin-right: 20%;

}

.midMid>a {
    margin-left: 25px;
    margin: 0px 10px 0px 10px;
    font-size: 12px;
    font-weight: 600;

}

#bottomNavbar>a:hover,
.midMid>a:hover {
    border-bottom: 4px solid #fdd835;
}

.midRight {
    border-left: 1px solid black;
    padding: 10px;

}

.midRight>a>img {
    width: 24px;
    margin: 0.00100%;
}

#bottomNavbar {
    display: flex;
    justify-content: space-around;
    width: 470px;
    margin: auto;


}

#bottomNavbar>a {
    font-weight: 600;
}

.imglogo {
    width: 150px;
    padding: 10px;

}

/* Header CSS END */

#offerSection>a>img {
    width: 32%;
    margin: 8px;
}

.ad1>a>img {
    width: 100%;
    margin: 10px;
}

.ad2 {
    display: flex;
    width: 80%;
    margin: auto;

}

.ad2>a {
    margin: 10px;
}

.ad2>a>img {
    width: 100%;
    border-radius: 15px;

}

.pSize {
    font-size: 13px;
    font-weight: 900;
    text-align: center;
}

#bestseller>h3,
#exulsive>h3,
.popCat>h3,
#discount>h3,
#endAd>div>h3 {
    text-align: center;
    font-weight: 900;
    font-size: 22px;
    margin-bottom: 0px;
}

.exad1 {
    width: 100%;
    box-sizing: border-box;
}

.exad1>a {
    margin: 10px;
}

.exad1>div>a>img {
    width: 98%;
    margin: 10px;
}

.popAd {
    display: flex;
    width: 80%;
    margin: auto;
}

.popAd>div>a>img {
    width: 80%;
    margin: 5%;
    border-radius: 10px;
}

.dscOffers {
    display: flex;
}

.dsAd {
    display: flex;
    width: 100%;
}

.dsAd>div>a>img {
    width: 95%;
    margin: 5%;
    border-radius: 5px;
}

.menSection {
    display: flex;
    width: 80%;
    margin: auto;
}

.menSection>div {
    margin: 1%;

}

.menSection>div>img {
    width: 95%;
    margin: 10px;
    transition-timing-function: ease-in-out;
}

.menSection>div>img:hover {
    width: 100%;
    transition: width 0.5s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.menSection>div>span:nth-child(2) {
    text-decoration: line-through;
    margin: 0px 10px 0px 20px;
    font-size: 15px;

}

.menSection>div>span>b {
    margin: 0px 0px 0px 5px;
    font-size: large;

}

#view>a>h3 {
    font-size: 14px;
    text-align: center;
    text-decoration: underline;
    margin: 0px;
    color: #5ca3a6;
}

.endAd>img {
    width: 100%;
    margin: 10px;
}

/* Footer CSS Start */

#footer {
    background-color: #181818;
}

#footer>div>img {
    width: 10%;
}

.customer>h5 {
    color: yellow;
    margin: 0px 40px 0px 0px;
}

.cusDetails,
.logo {
    display: flex;
    margin: 0px 0px 0px 15%
}

.customer>ul>li {
    color: white;
    font-size: 12px;
    list-style-type: none;
    margin-left: -8%;
}

.customer>ul>li>img {
    width: 5%;
}

#icons {
    width: 35%;
}

.input>h5 {
    color: yellow;
    margin-top: 0px;
}

.input>ul {
    display: flex;
    margin-left: -12%;
}

.input>ul>li {
    list-style-type: none;
}

#mailName {
    width: 90%;
    height: 35px;
    background: #80808000;
    color: white;
}

#subBtn {
    width: 100%;
    height: 35px;
    background-color: #fdd835;
    color: black;
}

#paymentgateway {
    display: flex;
    width: 75%;
    margin: auto;
}

#paymentgateway>div {
    margin-left: 2%;
}

#paymentgateway>div>h5 {
    color: yellow;
}

#paymentgateway>div>ul {
    color: white;
    list-style-type: none;
}

#paymentgateway>div>ul>li {
    font-size: 13px;
    margin-bottom: 5%;
    margin-top: 5%;
}

#paymentgateway>div>ul>li>img {
    width: 5%;
    filter: invert(1);
}

#allDetails {
    display: flex;
    background-color: #181818;
    color: white;
    margin-left: 20%;
}

#allDetails>div>ul>li {
    list-style-type: none;
    font-size: 12px;
    margin-left: -20%;
} 

.offerArea {
    margin-left: 15%;
}

.offerArea>h3 {
    margin-bottom: 35%;
    color: #51cccc;
}
