/*header design */
* {
  box-sizing: border-box;
}

body {
  
  width: 99%;
  font-family: 'Montserrat', sans-serif;

}

#Header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  margin-top : -6px;
  z-index: 1;

}

a {
  text-decoration: none;
  font-size: 15px;
  color: black;


}

#topNavbar {
  display: flex;
  justify-content: space-around;
  background-color: #eee;
  padding: 5px;

}

.left>a {
  margin-left: 10px;
  text-decoration: none;
  font-size: 10px;
  font-weight: 600;

}

.right>a {
  margin-left: 10px;
  text-decoration: none;
  font-size: 10px;
  font-weight: 600;

}

.search {
  width: 25%;
  background: #eaeaea;
  color: rgba(0, 0, 0, .5);
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 10px;
  font-weight: 600;

}

#searchLogo>img {
  width: 40px;
  height: 40px;
  padding: 10px;

}

input::selection {
  background-color: white;
  color: black;

}

.moblogo {
  width: 20px;

}

#midNavbar {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  box-sizing: border-box;
  margin-top: 5px;

}

.midMid {
  font-size: 17px;
  padding: 10px;
  margin-right: 20%;

}

.midMid>a {
  margin-left: 25px;
  margin: 0px 10px 0px 10px;
  font-size: 12px;
  font-weight: 600;

}

#bottomNavbar>a:hover,
.midMid>a:hover {
  border-bottom: 4px solid #fdd835;
}

.midRight {
  border-left: 1px solid black;
  padding: 10px;

}

.midRight>a>img {
  width: 24px;
  margin: 0.00100%;
}

.imglogo {
  width: 150px;
  padding: 10px;

}

  /*title design    */
        .main-body{
            width : 93%;
            margin: 30px 80px;
            padding: 10px;
        }
        
        .currentpage > p{
          margin-top : -30px;
        }
        .sub-body{
          width: 100%;
            display : flex;
            justify-content: space-around;
        }
        .currentpage p{
        Font-size: 16px;
        color: rgb(45, 45, 45);
      }

      .currentpage p a{
        text-decoration: none;
        color: rgb(45, 45, 45);
      }
        .title{
            
            margin : 0 auto 60px;
            position : relative;
            line-height: 60px;
            color : black;
            font-size : 30px;
            margin-top : -10px;
           
        }
        .title > span{
         color: #9494a5;
         font-weight : lighter;
        }
        .title::after{
            content: '';
            background: rgb(251,209,57);
            width: 170px;
            height: 3px;
            border-radius:5px;
            position: absolute;
            bottom:0;
            transform: translatex(-140%) ;
        }
        /*filter design */ 
      
       .head1{
        color: rgb(51, 51, 51);
        Font-size: 14px;
        Font-weight: 600;
        line-height: 14px;
       } 
       .filter-items{
            width : 30%;
            margin-top :-10px;
            color: rgba(45, 45, 45, 0.5);
                      
        }
        
        select{
          width : 100%;
          height : 50px;
          margin-bottom : 0;
          outline : none;
          border : 0px;
        }

        .select{
          border-bottom: 1px solid black;
        }

       

        
  
/* product item design */
      .product-items{
          width : 100%;
          margin : auto;
          margin-left : 50px;
          margin-right: 120px;
          display : grid;
          grid-template-columns : repeat(3, 1fr);
          gap : 30px;
          position : relative;
        }
        .product{ 
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          
        }

        .product img{
            width : 100%;
            cursor : pointer;
            margin-bottom: -15px;
           
        }
  
       .product:hover{
        transform: scale(1.015);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
       }
    
       .product-btns{
        opacity: 0;
        transition: opacity 0.6s ease;
       }

      .product:hover .btn-cart{
         opacity: 1;
      }

      .btn-cart {
          background: transparent;
          padding: 0.8rem 0;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          font-family: inherit;
          text-transform: uppercase;
          cursor: pointer;
          border: none;
          transition: all 0.6s ease;
          opacity : 0;
          position : absolute;
          top : 0;
          right : 0;
        

      }
      .btn-cart{
          background: radial-gradient(#fff, #ffd6d6);
      }

      .btn-cart:hover{
          background: #00CC99;
      } 

      .btn-cart img{
         width : 60px;
         height : 60px;
         margin-top : -10px;
        
      }
      
      .product-price-info p:nth-child(1){
        text-decoration: line-through;
      }

      .product-info-top{
        font-size : 12px;
        font-weight: bold;
        margin-bottom : -35px;
        margin-left: 5px;
      }

        .product-price-info{
            display : inline-flex;
            margin-right :10px;
            margin-left: 5px;
           
          
        }
        .product-price{
          margin-bottom : -40px;
        }
        .off-info{
          background-color: rgb(220,220,220);
          margin-bottom : -22px;
        }

        .off-info h5{
          margin-left: 5px;
        }
         
        #footer {
          background-color: #181818;
      }

      #footer>div>img {
          width: 10%;
      }

      .customer>h5 {
          color: yellow;
          margin: 0px 40px 0px 0px;
      }

      .cusDetails,
      .logo {
          display: flex;
          margin: 0px 0px 0px 15%
      }

      .customer>ul>li {
          color: white;
          font-size: 12px;
          list-style-type: none;
          margin-left: -8%;
      }
      .customer>ul>li>img {
        width: 5%;
    }

    #icons {
        width: 35%;
    }

    .inputt>h5 {
        color: yellow;
        margin-top: 0px;
    }

    .inputt>ul {
        display: flex;
        margin-left: -12%;
    }

    .inputt>ul>li {
        list-style-type: none;
    }

    #mailName {
        width: 90%;
        height: 35px;
        background: #80808000;
        color: white;
    }
    #subBtn {
      width: 100%;
      height: 35px;
      background-color: #fdd835;
      color: black;
  }

  #paymentgateway {
      display: flex;
      width: 75%;
      margin: auto;
  }

  #paymentgateway>div {
      margin-left: 2%;
  }

  #paymentgateway>div>h5 {
      color: yellow;
  }

  #paymentgateway>div>ul {
      color: white;
      list-style-type: none;
  }

  #paymentgateway>div>ul>li {
      font-size: 13px;
      margin-bottom: 5%;
      margin-top: 5%;
  }
  #paymentgateway>div>ul>li>img {
    width: 5%;
    filter: invert(1);
}

.mrgn {
    width: 80%;
}

#allDetails {
    display: flex;
    background-color: #181818;
    color: white;
    margin-left: 10%;
}

#allDetails>div>ul>li {
    list-style-type: none;
    font-size: 12px;
    margin-left: -20%;
}

.offerArea {
    margin-left: 15%;
}

.offerArea>h3 {
    margin-bottom: 35%;
    color: #51cccc;
}

/* slider css-----*/
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#3838389c, #1312127a);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#0051ff, #002fff);
}

        @media only screen and (min-width: 0px) and (max-width:499px){
          .currentpage p{
             font-size: 12px;
             margin-bottom: -15px;
          }
           
          .head1{
            display : none;
          }
          .filter-items{
             display : none; 
           }
           .product-items{
            display : grid;
            grid-template-columns : repeat(1, 1fr);
            grid-row-gap: 15px;
            grid-column-gap: 0px;
          }

          .title{
            
            margin : 0 auto 30px;
            position : relative;
            line-height: 30px;
            color : black;
            font-size : 20px;
            text-align : center;
        }
        .title::after{
            content: '';
            background: rgb(251,209,57);
            width: 80px;
            height: 3px;
            border-radius:5px;
            position: absolute;
            bottom:0;
            transform: translatex(-100%) center;
        }
        .product-info-top{
          font-weight: bold;
          margin-bottom : -10px;
          margin-left: 5px;
          font-size : 10px;
        }
  
          .product-price-info{
              display : inline-flex;
              margin-right :10px;
              margin-left: 5px;
              font-size: 10px;
             
            
          }
          .product-price{
            margin-bottom : -10px;
          }
          .off-info{
            background-color: rgb(220,220,220);
            
            margin-left: 5px;
            font-size: 10px;
          }

          .btn-cart{
            width : 40px;
            
            height : 40px;
            border-radius: 50%;
          }
          .btn-cart img{
            width : 40px;
            height : 40px;
            margin-top : -10px;
         }
         
        }
       
        @media only screen and (min-width: 500px) and (max-width: 800px){
          .currentpage p{
            font-size: 16px;
            margin-bottom : -10px;
         }  

         .head1{
          display : none;
        }
          
          .filter-items{
              display : none;
            }

            .product-items{
              display : grid;
              grid-template-columns : repeat(2, 1fr);
              grid-row-gap: 20px;
              grid-column-gap: 0px;
            }

            .title{
            
              margin : 0 auto 40px;
              position : relative;
              line-height: 40px;
              color : black;
              font-size : 25px;
              text-align : center;
          }
          .title::after{
              content: '';
              background: rgb(251,209,57);
              width: 100px;
              height: 3px;
              border-radius:5px;
              position: absolute;
              bottom:0;
              transform: translatex(-110%) center;
          }

          .product-info-top{
            font-weight: bold;
            margin-bottom : -20px;
            margin-left: 5px;
            font-size : 12px;
          }
    
            .product-price-info{
                display : inline-flex;
                margin-right :10px;
                margin-left: 5px;
                font-size: 15px;
               
              
            }
            .product-price{
              margin-bottom : -20px;
            }
            .off-info{
              background-color: rgb(220,220,220);
              
              margin-left: 5px;
              font-size: 12px;
            }

            .btn-cart{
              width : 40px;
              height : 40px;
              border-radius : 50%;
            }
            .btn-cart img{
              width : 40px;
              height : 40px;
              margin-top : -10px;
           }
          
          }
